
.location{

}

.location ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    background-color: brown;
    border-radius: 0.5rem;
    width: 80vw;
    height: 5rem;
}